#!/usr/bin/env fish

alias c='clear'

alias l='ls -ha'
alias ll='l -l'

alias ..='cd ..'
alias ...='cd ../..'

alias ghc='stack --resolver lts-12.0 --system-ghc ghc'
alias ghci='stack --resolver lts-12.0 --system-ghc ghci'

alias v='nvim'
alias vim='nvim'

alias e='emacsclient -nw'
alias emacs_server_stop='e --eval "(kill-emacs)"'
alias emacs_server_start='emacs -nw --daemon --eval "(server-start)"'

alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'

alias quicklisp='sbcl --load $QUICKLISPPATH/setup.lisp'
alias quicklisp_run='quicklisp --quit --eval'
alias commonlisp='quicklisp'

alias f='fzf'

alias please='sudo'

alias portof='lsof -i :'

alias cole@colejhudson.com='curl --data-binary @- curlmail.co/cole@colejhudson.com'


