#!/usr/bin/env fish

function update-gf -a MESSAGE
  set URL https://whatthefuckisyourboyfrienddoing.now.sh/
  curl --request POST --data $MESSAGE $URL
end

function gcc-run -a program
  set file (mktemp)
  gcc $program -o $file
  and eval $file
  rm $file
end

function datascience_notebook
  set DOCKER_PORT 8080
  set DOCKER_ID (docker run -d -p $DOCKER_PORT:8888 -e JUPYTER_ENABLE_LAB=yes -w $PWD -v $PWD:$PWD jupyter/datascience-notebook jupyter-lab $argv)
  set DOCKER_PATH (docker logs $DOCKER_ID 2>&1 | grep "http" | head -n 1 | cut -d ')' -f 2 | cut -d '/' -f 2)

  echo "http://127.0.0.1:$DOCKER_PORT/$DOCKER_PATH"

  open "http://127.0.0.1:$DOCKER_PORT/$DOCKER_PATH"
end

function docker-most-recently-started
  docker ps | awk '{ print $1 }' | head -n 2 | tail -n 1
end

function docker-stop-most-recent
  docker stop (docker-most-recently-started)
end

function brew-install-version -a formula version
  set -l HASH (brew log --format=format:%H\ %s -F --grep=$version $formula | awk '{ print $1 }' | head -n 1)
  set -l URL (brew info $formula 2>&1 | grep '^From:' | cut -d ' ' -f 2 | sed 's/github/raw.githubusercontent/g' | sed "s/blob\/master/$HASH/g")
  brew install $URL
end

function brew-cask-install-version -a formula version
  set -l REPO (brew --repository)/Library/Taps/homebrew/homebrew-cask/
  set -l HASH (git -C $REPO log --format=%H\ %s --grep=$version | grep $formula | awk '{ print $1 }' | head -n 1)
  set -l URL (brew cask info $formula 2>&1 | grep '^From:' | cut -d ' ' -f 2 | sed 's/github/raw.githubusercontent/g' | sed "s/blob\/master/$HASH/g")
  brew cask install $URL
end
