#!/usr/bin/env bash

function nb-datascience() {
  docker run \
    -d \
    --user root \
    -w $PWD \
    -v $PWD:$PWD \
    -p 0:8888 \
    -e GRANT_SUDO=yes \
    -e JUPYTER_ENABLE_LAB=yes \
    jupyter/datascience-notebook jupyter-lab \
      --no-browser \
      --ip=0.0.0.0 \
      --port=8888 \
      --allow-root \
      $argv
}

function nb-sagemath() {
  docker run \
    -d \
    --user root \
    -w $PWD \
    -v $PWD:$PWD \
    -p 0:8888 \
    -e GRANT_SUDO=yes \
    -e JUPYTER_ENABLE_LAB=yes \
    --entrypoint='sage' \
    sagemath/sagemath-jupyter \
      -n jupyter \
      --no-browser \
      --ip=0.0.0.0 \
      --port=8888 \
      --allow-root \
      $argv
}

function nb-arguments() {
  local CMD=$@[0]
  unset $@[0]

  case $CMD in
    ds|datasci|datascience) nb-datascience $@ ;;  
    sm|sage|sagemath) nb-sagemath $@ ;;
  esac
}

function nb() {
  local DOCKER_ID=$(nb-arguments $argv)
  
  while [[ ! $(docker logs $DOCKER_ID 2>&1 | grep http | head -n 1 | cut -d '?' -f 2 | grep token 2>&1 1>/dev/null) ]]; do
    sleep 0.1
  done
  
  printf "Done! Opening Jupyter Labs..."
  
  local PORT=$(docker container inspect $DOCKER_ID | jq '.[0]["NetworkSettings"]["Ports"]["8888/tcp"][0]["HostPort"]' | cut -d '"' -f 2) 
  local PARAMS=$(docker logs $DOCKER_ID 2>&1 | grep http | head -n 1 | cut -d '?' -f 2)

  open "http://localhost:"$PORT"/?"$PARAMS
}

function docker-most-recent() {
  docker ps | awk '{ print $1 }' | head -n 2 | tail -n 1
}

function docker-stop-most-recent() {
  docker stop $(docker-most-recent)
}
