[user]
email = cole@colejhudson.com
name = Cole Hudson
username = colejhudson
signingkey = "49667D13599D4AF837EA646E2F7DB0FBBB9FEFC7" 

[core]
editor = vim
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
excludesfile = ~/.gitignore

[web]
browser = firefox

[credential]
helper = cache --timeout 7200

[transfer]
fsckObjects = false

[fetch]
fsckobjects = false

[receive "fsck"]
zeroPaddedFilemode = warn

[github]
user = colejhudson

[alias]
s = status
c = commit
b = branch
d = diff
l = log
ap = add --patch
ra = remote add
rr = remote rename
lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
hub = !hub
create = commit -S -m 'initial commit'
trim = !sed --in-place 's/[[:space:]]\\+$//'
push-all = !git remote | xargs -L1 git push

[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
