[Unit]
Description=HAProxy
Documentation=man:haproxy(1)
After=network.target

[Service]
User=haproxy
Group=haproxy

# Bind to ports <1024
AmbientCapabilities=CAP_NET_BIND_SERVICE

WorkingDirectory=/var/run/haproxy
Environment="CONFIG=/etc/haproxy/haproxy.conf" "PIDFILE=/var/run/haproxy/haproxy.pid"

ExecStartPre=/usr/sbin/haproxy -f $CONFIG -c -q $EXTRAOPTS
ExecStart=/usr/sbin/haproxy-systemd-wrapper -f $CONFIG -p $PIDFILE $EXTRAOPTS
ExecReload=/usr/sbin/haproxy -f $CONFIG -c -q $EXTRAOPTS
ExecReload=/bin/kill -USR2 $MAINPID

KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
